@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Inter", sans-serif;
  background-color: oklch(43.2% 0.232 292.759);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.svg-color {
  color: white;
}

.access-button {
  padding: 1rem;
  background-color: white;
  color: oklch(43.2% 0.232 292.759);
  border-radius: 1rem;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}